{% if site.disqus_shortname %}
    <script type="text/javascript">
        var disqus_shortname = '{{ site.disqus_shortname }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

<!-- {% if site.gitment.id %}
    <div id="container"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
        var gitment = new Gitment({
            // id: gitment.id, // 可选。默认为 location.href  比如我本人的就删除了
            owner: 'Justxxh',
            repo: 'Justxxh.github.io',
            oauth: {
                client_id: gitment.id,
                client_secret: gitment.secret,
            },
        })
        gitment.render('container')
    </script>
{% endif %} -->